<div class="container mt-3">
    <h1> {{titulo}} </h1>
    <form>
      <div class="form-group">
        <label class="form-label" >Operando A</label>
        <input type="number" class="form-control"
          placeholder="Escribe operando A" [(ngModel)] = "operandoA" 
          name="operandoA"/>
      </div>
      
      <div class="form-group mt-2" >
        <label class="form-label">Operando B</label>
        <input type="number" class="form-control"
          placeholder="Escribe operando B" [(ngModel)] = "operandoB" 
          name="operandoB"/>
      </div>

      
      
      <button type="submit" class="btn btn-primary mt-2"
      (click)="sumar()">Sumar</button>
      
    </form>
    <p>Resultado: {{resultado}}</p>

</div>

